@{
    ViewData["Title"] = "Ajouter une personne";
}

<h1>Ajouter une personne</h1>

<form method="post">
    <div>
        <label for="firstname">Prénom</label>
        <input id="firstname" type="text" name="firstname" />
    </div>
    <div>
        <label for="lastname">Nom</label>
        <input id="lastname" type="text" name="lastname" />
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" />
    </div>
    <button type="submit">Ajouter</button>
</form>

<div class="text-danger">
    @Html.ValidationSummary()
</div>