@model PersonForm

@{
    ViewData["Title"] = "Ajouter une personne";
}

<h1>Ajouter une personne</h1>
<a asp-controller="Person" asp-action="Index" class="btn btn-warning mb-2">Retour à la liste</a>

<form class="text-primary" method="post" asp-controller="Person" asp-action="Add">
    <div class="mb-1">
        <label asp-for="Firstname"></label>
        <input asp-for="Firstname" placeholder="Jo" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="mb-1">
        <label asp-for="Lastname"></label>
        <input asp-for="Lastname" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="mb-1">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-1">
        <label asp-for="Secret"></label>
        <input asp-for="Secret" />
        <span asp-validation-for="Secret" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">Ajouter</button>
</form>